@page
@model HolaWeb.App.Frontend.Pages.ListModel
@{
}
<h1>Listado de Saludos en Varios Idiomas</h1>
@*
<form method="get">
    <div class="form-group">
    <p>
    Saludo:<input type="text" name="filtroBusqueda" asp-for="FiltroBusqueda"/>
        <input type="submit" value="Filtrar" />
    </p>
</form>

<table class="table">
    @foreach (var saludo in Model.Saludos)
    {
        <tr>
            <td>@saludo.EnEspañol</td>
            <td>@saludo.EnIngles</td>
            <td>@saludo.EnItaliano</td>
        </tr>
    }
</table>
*@

<form method="get">
    <div class="form-group">
    <p>
    Saludo:<input type="text" name="filtroHora" asp-for="FiltroHora"/>
        <input type="submit" value="Filtrar" />
    </p>
</form>

<table class="table">
    {
        <tr>
            <td>@Model.Saludo.EnEspañol</td>
            <td>@Model.Saludo.EnIngles</td>
            <td>@Model.Saludo.EnItaliano</td>
        </tr>
    }
</table>
